<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>1</integer>
		<key>ptm_ratio</key>
		<real>64</real>
	</dict>
	<key>bodies</key>
	<dict>
		<key>plane</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5000,0.5000 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ 41.500,-4.500 }</string>
							<string>{ 34.500,10.500 }</string>
							<string>{ 1.500,22.500 }</string>
							<string>{ -36.500,11.500 }</string>
							<string>{ -37.500,-2.500 }</string>
							<string>{ -1.500,-16.500 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
		<key>spaceShip</key>
		<dict>
			<key>anchorpoint</key>
			<string>{ 0.5000,0.5000 }</string>
			<key>fixtures</key>
			<array>
				<dict>
					<key>density</key>
					<real>2</real>
					<key>friction</key>
					<real>0</real>
					<key>restitution</key>
					<real>0</real>
					<key>filter_categoryBits</key>
					<integer>1</integer>
					<key>filter_groupIndex</key>
					<integer>0</integer>
					<key>filter_maskBits</key>
					<integer>65535</integer>
					<key>isSensor</key>
					<false/>
					<key>id</key>
					<string></string>
					<key>fixture_type</key>
					<string>POLYGON</string>
					<key>polygons</key>
					<array>
						<array>
							<string>{ -71.500,67.000 }</string>
							<string>{ -43.500,38.000 }</string>
							<string>{ -9.500,48.000 }</string>
							<string>{ -33.500,72.000 }</string>
						</array>
						<array>
							<string>{ -68.500,-69.000 }</string>
							<string>{ -29.500,-73.000 }</string>
							<string>{ -7.500,-48.000 }</string>
							<string>{ -39.500,-44.000 }</string>
							<string>{ -55.500,-45.000 }</string>
						</array>
						<array>
							<string>{ 72.500,-1.000 }</string>
							<string>{ 54.500,23.000 }</string>
							<string>{ -9.500,48.000 }</string>
							<string>{ -43.500,38.000 }</string>
							<string>{ -63.500,25.000 }</string>
							<string>{ -39.500,-44.000 }</string>
							<string>{ -7.500,-48.000 }</string>
							<string>{ 56.500,-24.000 }</string>
						</array>
						<array>
							<string>{ -63.500,-28.000 }</string>
							<string>{ -39.500,-44.000 }</string>
							<string>{ -63.500,25.000 }</string>
						</array>
					</array>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
